<div   id="form" [formGroup]="form">
  <!-- <div  id="form" [formGroup]="form"> -->

  <div  [ngSwitch]="input.controlType">
    <!-- {{input.visible}} -->
    <div class="field">
      <div *ngSwitchCase="'textbox'">
        <mat-label
          class="full-width"
          [attr.for]="input.key"
          >{{ input.label }}</mat-label
        >
        <mat-form-field
          class="full-width"
          appearance="outline"
        >
          <input
            matInput
            class="form-control"
            [formControlName]="input.key"
            [id]="input.key"
            [type]="input.type"
          />

          <mat-error
            *ngIf="
              form.get(input.key).invalid &&
              (form.get(input.key).dirty || form.get(input.key).touched)
            "
          >
            <error-message [input]="input" [form]="form"></error-message>
          </mat-error>
        </mat-form-field>
      </div>

      

      <div *ngSwitchCase="'dropdown'">
        <div>
          
          <mat-label
            
            class="full-width"
            [attr.for]="input.key"
            >{{ input.label }} &nbsp;</mat-label
          >
        </div>
        <mat-form-field
        class="full-width"
        
        appearance="outline"
      >
        <select [id]="input.key"   [formControlName]="input.key" matNativeControl (change)="onChange(
          group.key,
         fieldGroup.key,
          input,
          $event
        )">
        <!-- <option [value]="input.label" selected>
          {{input.label}}
        </option> -->
          <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </mat-form-field>
        <!-- <mat-form-field
          class="full-width"
          
          appearance="outline"
        >
          <mat-select
            [id]="input.key"
            [formControlName]="input.key"
            (selectionChange)="
              onChange(
                group.key,
                selected,
                input.dependents,
                input.dependentType
              )
            "
            [(value)]="selected"
            #select
          >
          <mat-option  >
            {{ input.label }}
          </mat-option>
            <mat-option *ngFor="let opt of input.options" [value]="opt.key">
              {{ opt.value }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              form.get(input.key).invalid &&
              (form.get(input.key).dirty || form.get(input.key).touched)
            "
          >
            <error-message [input]="input" [form]="form"></error-message>
          </mat-error>
        </mat-form-field> -->
      </div>

      <div *ngSwitchCase="'checkbox'">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="input.key"
            [id]="input.key"
          />
          <label class="form-check-label" [attr.for]="input.key">{{
            input.label
          }}</label>
          <div *ngIf="form.get(input.key).dirty || form.get(input.key).touched">
            <small style="color: red" *ngIf="!form.get(input.key).valid">
              {{ input.label }} is Required
            </small>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'radio'">
        <mat-radio-group >
          <mat-radio-group [formControlName]="input.key">
            <mat-radio-button
              *ngFor="let opt of input.options"
              class="form-check-label"
              (change)="
                onChange(
                  group.key,
                  fieldGroup.key,
                  input,
                  $event
                )
              "
              [attr.for]="opt.key"
              [value]="opt.key"
              [checked]="opt.default"
            >
              {{ opt.value }}
            </mat-radio-button>
          </mat-radio-group>
          <div *ngIf="form.get(input.key).dirty || form.get(input.key).touched">
            <small style="color: red" *ngIf="!form.get(input.key).valid">
              {{ input.label }} is Required
            </small>
          </div>
        </mat-radio-group>
      </div>

      <div *ngSwitchCase="'textarea'">
        <label [attr.for]="input.key">{{ input.label }}</label>
        <textarea
          class="form-control"
          [formControlName]="input.key"
          [id]="input.key"
          rows="5"
        ></textarea>
        <div *ngIf="form.get(input.key).dirty || form.get(input.key).touched">
          <small style="color: red" *ngIf="!form.get(input.key).valid">
            {{ input.label }} is Required
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
