.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .full-width {
    width: 100%;
    margin-left: 5px;
    margin-right:5px;
  }

  .field, .mat-form-field .mat-label {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }
  .hide{
    display: none !important;
}

.show{
    display: block !important;
}