.body {
 background-color: #f3f3f3 !important;
 width: 90%;
 margin-left: auto;
    margin-right: auto;
}

.mat-card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.field, .mat-form-field .mat-label {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }