<!-- <div class="flex-container">
  <div fxLayout="row" fxLayout.xs="column"></div>
  <div fxLayout="row" fxLayout.xs="column" *ngIf="catagories">

    <mat-card fxFlex="1 1" class="mat-card" *ngFor="let cat of catagories">
      <mat-card-header>
        <mat-card-title>{{ cat.svcName }}</mat-card-title>
        <mat-card-subtitle> {{ cat.svcCode }} </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        {{ cat.description }}
      </mat-card-content>

     
      <mat-card-actions>
        <button
          align="end"
          mat-raised-button
          color="primary"
          type="button"
          (click)="
            onClick(
              'https://gpet-server-app.herokuapp.com/gpet/api/scategory/' +
                cat.id
            )
          "
        >
          Configure
        </button>

        <button
          align="end"
          mat-raised-button
          color="primary"
          type="button"
          (click)="onClick('/assets/amazonMySql.json')"
        >
          Configure Local
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<!-- <div class="flex-container">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="auto">

      <DynamicTable *ngIf="tableData" [tableData]="tableData" [tableColumns]="tableColumns" [isFilterable]="true" [isPageable]="true" [paginationType]="'client'"
         [defaultPageSize]="20" [paginationSizes]="[5,10,20]" [total]="total" (filter)="handleFilter($event)" (action)="handleAction($event)" (sort)="handleSort($event)">
      </DynamicTable>
    </div>
  </div>
</div> -->

<!-- <div>
  <iframe src="https://player.vimeo.com/video/253414475?h=c674c42a2f&badge=0&autopause=0&player_id=0&app_id=256162" width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="AN_1.1_Introduction to Analytics 1 of 2"></iframe>
</div> -->